:root {
  --family-lexend: "Lexend", var(--family-sans);
}

@supports (font-variation-settings: normal) {
  :root {
    --family-lexend: "Lexend VF", "Lexend", var(--family-sans);

    --lexend-deca:  "HEXD" 0,   "LXND" 0;
    --lexend-exa:   "HEXD" 40,  "LXND" 40;
    --lexend-giga:  "HEXD" 56,  "LXND" 56;
    --lexend-mega:  "HEXD" 64,  "LXND" 64;
    --lexend-peta:  "HEXD" 72,  "LXND" 72;
    --lexend-tera:  "HEXD" 80,  "LXND" 80;
    --lexend-zetta: "HEXD" 100, "LXND" 100;

    font-variation-settings: var(--lexend-deca);
  }
}

/* Variable */

@font-face {
  font-family: "Lexend VF";
  src: url("../assets/fonts/lexend/variable/Readexpro[HEXP,wght].ttf") format("truetype");
  font-weight: 160 700;
  font-style: normal;
}

/* Static */

@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/lexend/ttf/ReadexPro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/lexend/ttf/ReadexPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/lexend/ttf/ReadexPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/lexend/ttf/ReadexPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/lexend/ttf/ReadexPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../assets/fonts/lexend/ttf/ReadexPro-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
