:root {
  --family-crimson: "Crimson", var(--family-serif);
}

@supports (font-variation-settings: normal) {
  :root {
    --family-crimson: "Crimson VF", "Crimson", var(--family-serif);
  }
}

/* Variable */

@font-face {
  font-family: "Crimson VF";
  src: url("../assets/fonts/crimson/variable/CrimsonPro[wght].ttf") format("truetype"); /* tech("variations") */
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Crimson VF";
  src: url("../assets/fonts/crimson/variable/CrimsonPro-Italic[wght].ttf") format("truetype"); /* tech("variations") */
  font-weight: 200 900;
  font-style: italic;
  font-display: swap;
}

/* Static Text */

@font-face {
  font-family: "Crimson";
  src: url("../assets/fonts/crimson/webfonts/CrimsonPro-Light.woff2") format("woff2"),
       url("../assets/fonts/crimson/otf/CrimsonPro-Light.otf") format("opentype"),
       url("../assets/fonts/crimson/ttf/CrimsonPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Crimson";
  src: url("../assets/fonts/crimson/webfonts/CrimsonPro-LightItalic.woff2") format("woff2"),
       url("../assets/fonts/crimson/otf/CrimsonPro-LightItalic.otf") format("opentype"),
       url("../assets/fonts/crimson/ttf/CrimsonPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Crimson";
  src: url("../assets/fonts/crimson/webfonts/CrimsonPro-Regular.woff2") format("woff2"),
       url("../assets/fonts/crimson/otf/CrimsonPro-Regular.otf") format("opentype"),
       url("../assets/fonts/crimson/ttf/CrimsonPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Crimson";
  src: url("../assets/fonts/crimson/webfonts/CrimsonPro-Italic.woff2") format("woff2"),
       url("../assets/fonts/crimson/otf/CrimsonPro-Italic.otf") format("opentype"),
       url("../assets/fonts/crimson/ttf/CrimsonPro-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Crimson";
  src: url("../assets/fonts/crimson/webfonts/CrimsonPro-Medium.woff2") format("woff2"),
       url("../assets/fonts/crimson/otf/CrimsonPro-Medium.otf") format("opentype"),
       url("../assets/fonts/crimson/ttf/CrimsonPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Crimson";
  src: url("../assets/fonts/crimson/webfonts/CrimsonPro-MediumItalic.woff2") format("woff2"),
       url("../assets/fonts/crimson/otf/CrimsonPro-MediumItalic.otf") format("opentype"),
       url("../assets/fonts/crimson/ttf/CrimsonPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Crimson";
  src: url("../assets/fonts/crimson/webfonts/CrimsonPro-Semibold.woff2") format("woff2"),
       url("../assets/fonts/crimson/otf/CrimsonPro-Semibold.otf") format("opentype"),
       url("../assets/fonts/crimson/ttf/CrimsonPro-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Crimson";
  src: url("../assets/fonts/crimson/webfonts/CrimsonPro-SemiboldItalic.woff2") format("woff2"),
       url("../assets/fonts/crimson/otf/CrimsonPro-SemiboldItalic.otf") format("opentype"),
       url("../assets/fonts/crimson/ttf/CrimsonPro-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Crimson";
  src: url("../assets/fonts/crimson/webfonts/CrimsonPro-Bold.woff2") format("woff2"),
       url("../assets/fonts/crimson/otf/CrimsonPro-Bold.otf") format("opentype"),
       url("../assets/fonts/crimson/ttf/CrimsonPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Crimson";
  src: url("../assets/fonts/crimson/webfonts/CrimsonPro-BoldItalic.woff2") format("woff2"),
       url("../assets/fonts/crimson/otf/CrimsonPro-BoldItalic.otf") format("opentype"),
       url("../assets/fonts/crimson/ttf/CrimsonPro-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Crimson";
  src: url("../assets/fonts/crimson/webfonts/CrimsonPro-ExtraBold.woff2") format("woff2"),
       url("../assets/fonts/crimson/otf/CrimsonPro-ExtraBold.otf") format("opentype"),
       url("../assets/fonts/crimson/ttf/CrimsonPro-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Crimson";
  src: url("../assets/fonts/crimson/webfonts/CrimsonPro-ExtraBoldItalic.woff2") format("woff2"),
       url("../assets/fonts/crimson/otf/CrimsonPro-ExtraBoldItalic.otf") format("opentype"),
       url("../assets/fonts/crimson/ttf/CrimsonPro-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
