:root {
  --family-bitter: "Bitter";
}

@font-face {
  font-family: "Bitter";
  src: url("bitter/otf/Bitter-Regular.otf") format("opentype"),
       url("bitter/ttf/Bitter-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bitter";
  src: url("bitter/otf/Bitter-Bold.otf") format("opentype"),
       url("bitter/ttf/Bitter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bitter";
  src: url("bitter/otf/Bitter-Italic.otf") format("opentype"),
       url("bitter/ttf/Bitter-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bitter";
  src: url("bitter/otf/Bitter-BoldItalic.otf") format("opentype"),
       url("bitter/ttf/Bitter-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
