:root {
  --family-luciole: "Luciole";
}

@font-face {
  font-family: "Luciole";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./luciole/Luciole-Regular.ttf");
}

@font-face {
  font-family: "Luciole";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("./luciole/Luciole-Bold.ttf");
}

@font-face {
  font-family: "Luciole";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("./luciole/Luciole-Regular-Italic.ttf");
}

@font-face {
  font-family: "Luciole";
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url("./luciole/Luciole-Bold-Italic.ttf");
}
