:root {
  --family-convergence: "Convergence", var(--family-sans);
}

@font-face {
  font-family: "Convergence";
  src: url("../assets/fonts/convergence/Convergence-Regular.ttf") format("truetype");
  font-display: swap;
}
