:root {
  --family-luciole: "Luciole", var(--family-sans);
}

@font-face {
  font-family: "Luciole";
  src: url("../assets/fonts/luciole/Luciole-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Luciole";
  src: url("../assets/fonts/luciole/Luciole-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Luciole";
  src: url("../assets/fonts/luciole/Luciole-Regular-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Luciole";
  src: url("../assets/fonts/luciole/Luciole-Bold-Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
